.mainContent {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.hero-banner {
  padding: 0px 2.5%;
  align-self: center;
  max-width: 95%;
}

h1 {
  padding: 15px 0px;
  text-align: center;
  margin: 0px;
}

@import url("./fonts/sinkinsans_100thin_macroman/stylesheet.css"); 
@import url("./fonts/sinkinsans_100thinitalic_macroman/stylesheet.css");
@import url("./fonts/sinkinsans_400regular_macroman/stylesheet.css");     /* font-family: 'sinkin_sans400_regular' */
@import url("./fonts/sinkinsans_400italic_macroman/stylesheet.css");
@import url("./fonts/sinkinsans_600semibold_macroman/stylesheet.css");    /* font-family: 'sinkin_sans600_semibold' */