@import '../variables.scss';

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.menu {
  margin-top: 20px !important;
  margin-bottom: 40px;
}

.name {
  font-size: 35px;
  font-family: $header-font;

  a { 
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.link {
  margin: 0 15px;
  color: $light-grey;
  text-decoration: none;
  font-size: 25px;
  font-family: $header-font;
  transition: 0.3s;
}