.header {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.header-logo {
  font-family: 'sinkin_sans600_semibold';
  font-size: 35px;
  text-align: center;
  color: #3AAFA9;
  margin: 0px 10px;
}

.header-navigation {
  font-family: 'sinkin_sans400_regular';
  display: flex;
}

.header-navigation-button {
  margin: 0px 10px;
  padding: 20px 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.header-navigation-button:hover {
  color: #3AAFA9;
}