@import '../node_modules/bootstrap/scss/bootstrap';
@import './variables.scss';

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: 'Rhodium Libre';
  src: url('fonts/RhodiumLibre-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-size: 24px;
  font-family: $header-font;
  background-color: $charcol;
  color: $light-grey;
  transition: background-color 0.3s, color 0.3s;
}

body {
  padding: 0 10px;
}

.text-color-blue {
  color: $blue;
}

.text-color-charcol {
  color: $charcol;
}

.text-color-dark-grey {
  color: $dark-grey;
}

a {
  color: $light-grey;
}

a:hover { 
  color: $blue
}

h1,
.h1 {
  font-size: $font-size-h1;
  font-family: $header-font;
}

h2,
.h2 {
  font-size: $font-size-h2;
  font-family: $header-font;
}

h3,
.h3 {
  font-size: $font-size-h3;
  font-family: $header-font;
}

h4,
.h4 {
  font-size: $font-size-h4;
  font-family: $header-font;
}

h5,
.h5 {
  font-size: $font-size-h5;
  font-family: $header-font;
}

h6,
.h6 {
  font-size: $font-size-h6;
  font-family: $header-font;
}

.btn-primary {
  background-color: $blue;
  border: none;
  padding: 5px 0 0;

  &:hover,
  &:focus {
    background-color: $light-grey;
    border-color: $light-grey;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(186 186 186 / 50%)
  }
}