@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$extra-light-grey: #d1d1d1;
$light-grey: #bababa;
$dark-grey: #353535;
$charcol: #212121;
$blue: #3aafa9;

$header-font: 'Rhodium Libre', serif;

$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 25px;
$font-size-h5: 20px;
$font-size-h6: 15px;