@import '../../static/variables.scss';

.mainSelectionsLink {
  color: inherit;
  text-decoration: none;
}

.mainSelections {
  padding: 15px 5px;
  text-align: center;
  transition: all 0.2s; 

  &:hover {
    color: $blue;
  }
}
