.header {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.header-content {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header-logo {
  grid-column-start: 1;
  text-align: center;
}

.header-navigation {
  grid-column-start: 2;
  justify-self: left;
}

.header-navigation-button {
  display: inline-block;
  height: 60px;
  margin: 0px 5px; 
  padding: 0px 10px;
}

.header-social {
  grid-column-start: 3;
  justify-self: center;
}